astroid==2.4.2
autopep8==1.5.4
backcall==0.2.0
Brotli==1.0.9
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cx-Oracle==8.0.1
cycler==0.10.0
dash==1.17.0
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
datatables==0.4.9
DateTime==4.3
decorator==4.4.2
docx==0.2.4
docx2pdf==0.1.7
docxtpl==0.11.1
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Compress==1.8.0
Flask-Login==0.5.0
future==0.18.2
idna==2.10
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.18.0
Jinja2==2.11.2
jupyter-client==6.1.7
jupyter-core==4.7.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
libusb1==1.8
limits==1.5.1
logstash==0.1.dev0
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mypy==0.782
mypy-extensions==0.4.3
node==0.9.25
numpy==1.19.2
oauthlib==3.1.0
odict==1.7.0
openpyxl==3.0.5
pandas==1.1.3
parso==0.8.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==8.0.1
plotly==4.13.0
plumber==1.6
prompt-toolkit==3.0.9
pycodestyle==2.6.0
Pygments==2.7.3
pylint==2.6.0
pylogbeat==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-docx==0.8.10
python-logstash-async==2.1.1
pytz==2020.1
pywin32==227
pyzmq==20.0.0
requests==2.24.0
retrying==1.3.3
selenium==3.141.0
six==1.15.0
toml==0.10.1
tornado==6.1
tqdm==4.54.1
traitlets==5.0.5
typed-ast==1.4.1
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.25.11
waitress==1.4.4
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
xlrd==1.2.0
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.1.2
zope.lifecycleevent==4.3
zope.proxy==4.3.5
