{% extends "layoutBase.html.j2" %}
{% block title %}स्काडा सेम साप्ताहिक रिपोर्ट{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h3>स्काडा सेम साप्ताहिक रिपोर्ट बनाएं</h3>
<form class="form" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="endDate">अंतिम सप्ताह चुनें</label>
        <input type="date" class="form-control bg-light border-1 mr-2" required="" name = "endDate" id="endDate" {% if endDate %} value="{{endDate}}" {% endif %}>
        </div>
    </div>
    <input type="submit" class = "btn btn-success" value="submit">
</form>
<div id="errorDiv" class="mt-4 text-lg" style="color:rgb(139,0,0);" ></div>

<br/>
{% if constituentsTableError %}
    <h3><p>स्काडा सेम साप्ताहिक रिपोर्ट सफल!!!</p></h3>
<div>
    <table id="example" class="table table-bordered table-hover display w-auto">
        <thead>
            <tr>
                {% for colName in columnNameList %}
                <th>{{colName}}</th>
                {% endfor %}
                
            </tr>
        </thead>    
        <tbody>
            {% for row in constituentsTableError %}
            <tr>
                {% for value in row %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}    
        </tbody>
    </table>

</div>
{% endif %}

{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jszip/dist/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/vfs_fonts.js') }}"></script>
    <script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each(function () {
            //var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search" />');
        });
        var filesTable = $('#example').DataTable({
            fixedHeader: true,
            "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
            "pageLength": 50,
            dom: 'Bfrtip',
            "order": [[0, "asc"]],
            buttons: ['pageLength', 'csv', 'excel', 'pdf', 'print']
        });
        var r = $('#example tfoot tr');
        r.find('th').each(function () {
            $(this).css('padding', '3px');
        });
        $('#example thead').append(r);
        // Apply the filter
        // https://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/examples/api/multi_filter.html
        $("#example thead input").on('keyup change', function () {
            filesTable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });
    });
    </script>
    <style>
        thead input {
            padding: 2px;
            box-sizing: border-box;
            font-size: small;
            width: 100%
        }
    </style>

{% endblock %}