{% if user %}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href='#'>
            <i class="fas fa-th-large"></i>
            <span>Web Dashboard</span>
        </a>
    </li>
{% endif %}
<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseFreq" aria-expanded="false" aria-controls="collapseFreq">
        <span>SCADA vs SEM</span>
    </a>
    <div id="collapseFreq" class="collapse show" aria-labelledby="headingFreq" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/createScadaSemData">CREATE SCADA-SEM DATA</a>
        <a class="collapse-item" href="/plotGraphData">PLOT GRAPH</a>
        </div>
    </div>
</li>