{% extends "layoutBase.html.j2" %}
{% block title %}Create Scada Sem Data{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<style type='text/css'>
    h1 {
    color : black;
    }
    h3 {
    color : black;
    border: 0.4rem solid transparent;
    /* width: 8em;
    height: 10em; */
    max-height: 30em;
    overflow: auto;
    font-size: 1.5rem;
    padding: 1rem;
    }
</style>
<h1><strong>Create data in Scada Sem Data store</h1>
<form class="form" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control bg-light border-1 mr-2" required="" name = "startDate" id="startDate" {% if startDate %} value="{{startDate}}" {% endif %}>
        </div>
        <div class="form-group col-md-6">
        <label for="endDate">End Date</label>
        <input type="date" name = "endDate" class="form-control" required="" id="endDate" {% if endDate %} value="{{endDate}}" {% endif %}>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="consList">Choose Constituent(s) Name:</label>
            <select multiple class="chosen-select" name="consList" required="" id="consList" style="color:black" placeholder="Select location here..">
                <option value="CS1">CS1</option>
                <option value="DN1">DN1</option>
                <option value="DD1">DD1</option>
                <option value="GO1">GO1</option>
                <option value="MP2">MP2</option>
                <option value="GU2">GU2</option>
                <option value="MH2">MH2</option>
                <option value="NR1">NR1</option>
                <option value="SR1">SR1</option>
                <option value="ER1">ER1</option>
                <option value="HZ1">HZ1</option>
                <option value="BR1">BR1</option>
            </select>
        </div>
    </div>
    <input type="submit" class = "btn btn-success" value="submit">
</form>

{% if data %}
    <h3><p>Scada Sem Data insertion successful!!!</p></h3>
{% endif %}

{% endblock %}