{% extends "layoutBase.html.j2" %}
{% block title %}स्काडा सेम संघटक डेटा बनाएँ{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<style type='text/css'>
    h1 {
    color : black;
    }
    h3 {
    color : black;
    border: 0.4rem solid transparent;
    /* width: 8em;
    height: 10em; */
    max-height: 30em;
    overflow: auto;
    font-size: 1.5rem;
    padding: 1rem;
    }
</style>
<h1><strong>स्काडा सेम संघटक डेटा स्टोर में डेटा बनाएं</h1>
<form class="form" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="startDate">आरंभ तिथि</label>
        <input type="date" class="form-control bg-light border-1 mr-2" required="" name = "startDate" id="startDate" {% if startDate %} value="{{startDate}}" {% endif %}>
        </div>
        <div class="form-group col-md-6">
        <label for="endDate">समाप्ति तिथि</label>
        <input type="date" name = "endDate" class="form-control" required="" id="endDate" {% if endDate %} value="{{endDate}}" {% endif %}>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="consList">घटक (ओं) का नाम चुनें:</label>
            <select multiple class="chosen-select" name="consList" required="" id="consList" style="color:black" placeholder="Select location here..">
                <option value="CS1">छत्तीसगढ</option>
                <option value="DN1">दादरा नगर हवेली</option>
                <option value="DD1">दमन दीव</option>
                <option value="GO1">गोवा</option>
                <option value="MP2">मध्य प्रदेश</option>
                <option value="GU2">गुजरात</option>
                <option value="MH2">महाराष्ट्र</option>
                <option value="NR1">उत्तरी क्षेत्र</option>
                <option value="SR1">दक्षिणी क्षेत्र</option>
                <option value="ER1">पूर्वी क्षेत्र</option>
                <option value="HZ1">हजीरा</option>
                <option value="BR1">BARC</option>
            </select>
        </div>
    </div>
    <input type="submit" class = "btn btn-success" value="submit">
</form>

{% if data %}
    <h3><p>स्काडा सेम संघटक डेटा प्रविष्टि सफल!!!</p></h3>
{% endif %}

{% endblock %}