{% extends "layoutBase.html.j2" %}
{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<style type='text/css'>
    h1 {
    color : black;
    }
</style>
<h1><b> Welcome to WRLDC SCADA SEM Dashboard </b></h1>
{% endblock %}