{% extends "layoutBase.html.j2" %}
{% block title %}SCADA vs SEM PLOT{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<style type='text/css'>
    h1 {
    color : black;
    }
    h3 {
    color : black;
    border: 0.4rem solid transparent;
    /* width: 8em;
    height: 10em; */
    max-height: 30em;
    overflow: auto;
    font-size: 1.5rem;
    padding: 1rem;
    }
</style>
<h1><strong>Display Scada vs Sem Graph</h1>
<form class="form" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control bg-light border-1 mr-2" required="" name = "startDate" id="startDate" {% if startDate %} value="{{startDate}}" {% endif %}>
        </div>
        <div class="form-group col-md-6">
        <label for="endDate">End Date</label>
        <input type="date" name = "endDate" class="form-control" required id="endDate" {% if endDate %} value="{{endDate}}" {% endif %}>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="consList">Choose Constituent(s) Name:</label>
            <select multiple class="chosen-select" name="consList" required="" id="consList" style="color:black" placeholder="Select location here..">
                <option value="CS1">CHHATTISGARH</option>
                <option value="DN1">Dadra & Nagar Haveli</option>
                <option value="DD1">DAMAN & DIU</option>
                <option value="GO1">GOA</option>
                <option value="MP2">MADHYA PRADESH</option>
                <option value="GU2">GUJRAT</option>
                <option value="MH2">MAHARASHTRA</option>
                <option value="NR1">NORTHERN REGION</option>
                <option value="SR1">SOUTHERN REGION</option>
                <option value="ER1">EASTERN REGION</option>
                <option value="HZ1">HAZIRA</option>
                <option value="BR1">BARC</option>
            </select>
        </div>
    </div>
    <input type="submit" class = "btn btn-success" value="submit">
</form>

{% block scripts %}
{% if data %}
    {# dynamic div testing #}
    {% set l = 0 %}
    {% for consList,err in div_info %}
        <div class="container mb-5">
            <span id= "dnhBlockNoSpan"class="text-dark rightSpan">Error Percentage:{{err}}</span>
        </div>
        <div id={{consList}}></div>
    {% endfor %}
    {% set dfData = data %}
    <script>
        var consName = {{ consName|safe }};
        var stateList = {{ stateList|safe }};
        var dfData_gGlob = {{ dfData|safe }};
        window.onload = function() {
            loadPlotData();
        }
    </script>
    <script language="JavaScript" type="text/javascript" src="static/app/index.js"></script>
    <script language="JavaScript" type="text/javascript" src="static/node_modules/plotly.js-dist/plotly.js"></script>
    {# <link rel="stylesheet" href="static/node_modules/chosen-js/chosen.min.css"> #}
    <script language="JavaScript" type="text/javascript" src="static/node_modules/chosen-js/chosen.jquery.min.js"></script>
    {# <script language="JavaScript" type="text/javascript" src="static/app/plotly.min.js"></script>
    <link rel="stylesheet" href="jquery.dropdown.css">
    <script language="JavaScript" type="text/javascript" src="jquery.dropdown.js"></script> #}
{% endif %}
    <style>
        thead input {
            padding: 2px;
            box-sizing: border-box;
            font-size: small;
            width: 100%
        }
        .rightSpan{
             float:right;
             font-size: 22px;
         }
    </style>

{% endblock %}


{% endblock %}

